html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='A Random Quote Generator')
    meta(name='keywords', content='random, quote, generator')
    meta(name='author', content='Melvin Canela')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')